<div class="card">
    <div id="countdown-label" ng-bind="caption">
    </div>

       <div id="countdown-counter-container">
        <div id="countdown-day-counter" class="counter-container">
            <div class="countdown-counter-label">Days</div>

            <div class="countdown-counter-numbers">{{remainingTime.day}}</div>
        </div>
        <div id="countdown-hour-counter" class="counter-container">
            <div class="countdown-counter-label">Hours</div>
            <div class="countdown-counter-numbers">{{remainingTime.hour}}</div>
        </div>
        <div id="countdown-minute-counter" class="counter-container">
            <div class="countdown-counter-label">Minutes</div>
            <div class="countdown-counter-numbers">{{remainingTime.minute}}</div>
        </div>
        <div id="countdown-second-counter" class="counter-container">
            <div class="countdown-counter-label">Seconds</div>
            <div class="countdown-counter-numbers">{{remainingTime.second}}</div>
        </div>
    </div>
</div>
