<ion-view view-title="<img class='view-title-image' src='img/72HeaderImage.svg'>">
    <ion-content>
        <ff-countdown></ff-countdown>
        <br>
        <div class="card list" ng-repeat="newsItem in news">
            <div class="item item-divider">
                <h2 ng-bind="newsItem.title"></h2>
                <p ng-bind="newsItem.timeStr"></p>
            </div>
            <div ng-bind="newsItem.content" class="item item-text-wrap"></div>
        </div>
    </ion-content>
</ion-view>
