<ion-view view-title="<img class='view-title-image' src='img/72FestHeader.png'>">
    <ion-content>
        <ff-countdown></ff-countdown>
        <div class="card list" ng-repeat="newsItem in news">
            <div class="item item-divider">
                <h1 ng-bind="newsItem.title"></h1>
                <p ng-bind="newsItem.timeStr"></p>
            </div>
            <div ng-bind-html="newsItem.content" class="news-item--content item item-text-wrap"></div>
        </div>
    </ion-content>
</ion-view>
