<ion-view view-title="<img class='view-title-image' src='img/72HeaderImage.svg'>">
    <ion-content>
        <ion-refresher
            pulling-text="Pull to refresh photos ..."
            on-refresh="refreshPhotos()">
        </ion-refresher>
<!--        <ion-gallery ion-gallery-items="photos" ion-gallery-row="4"></ion-gallery>-->
<!--        <img collection-repeat="photo in photos" item-width="120px" item-height="120px" ng-src="{{photo.thumb}}" alt=""></img>-->'

        <div ng-repeat="photo in photos" width="100%" ng-src="{{photo.thumb}}" alt="">
            <img width="100%" ng-src="{{photo.thumb}}" alt=""></img>
        </div>

        <ion-infinite-scroll
            ng-if="hasMorePhotos()"
            distace="15%"
            on-infinite="getNextPhotos()">
        </ion-infinite-scroll>
    </ion-content>

    <div class="bar bar-footer bar-stable">
        <div class="button-bar">
            <a class="photo-nav-icon icon ion-camera button" ng-click="takePhotoFromCamera()"></a>
            <a class="photo-nav-icon icon ion-ios-photos-outline button" ng-click="takePhotoFromAlbum()"></a>
        </div>
    </div>
</ion-view>
