<ion-view  cache-view="false" view-title="<img class='view-title-image' src='img/72HeaderImage.svg'>">
    <ion-content class="has-footer">
        <ion-refresher
            pulling-text="Pull to refresh photos ..."
            on-refresh="refreshPhotos()">
        </ion-refresher>

        <div class="photo-element-container" ng-repeat="photo in photos" alt="">
            <div class="photo-element-header" ng-show="photo.isFilmHour">
                <span class="photo-element-timestamp" ng-bind="photo.filmHour"></span>
            </div>
            <img class="photo-element-img" ng-src="{{photo.thumb}}" alt=""></img>
            <hr class="photo-element-divider">
            <div class="photo-element-text-container">
<!--
                <span class="photo-element-vote-icon-container"><i class="icon ion-thumbsup"></i></span>
                <span>X Votes</span>
-->
                <span class="photo-element-bottom-timestamp" ng-bind="photo.timeStr"></span>
                <i ng-click='sharePhoto(photo.src)' class="photo-element-share icon ion-share"></i>
            </div>
        </div>

        <ion-infinite-scroll
            ng-if="hasMorePhotos()"
            distace="15%"
            on-infinite="getNextPhotos()">
        </ion-infinite-scroll>
    </ion-content>

    <div class="bar bar-footer bar-stable">
        <div class="button-bar">
            <a class="photo-nav-icon icon ion-camera button" ng-click="takePhotoFromCamera()"></a>
            <a class="photo-nav-icon icon ion-ios-photos-outline button" ng-click="takePhotoFromAlbum()"></a>
        </div>
    </div>
</ion-view>
