<ion-view view-title="Photos">
    <ion-content>
<!--        <ion-gallery ion-gallery-items="photos" ion-gallery-row="4"></ion-gallery>-->
        <img collection-repeat="photo in photos" item-width="120px" item-height="120px" ng-src="{{photo.thumb}}" alt=""></img>
    </ion-content>

    <div class="bar bar-footer bar-stable">
        <div class="button-bar">
            <a class="icon ion-camera button" ng-click="takePhotoFromCamera()"></a>
            <a class="icon ion-ios-photos-outline button" ng-click="takePhotoFromAlbum()"></a>
        </div>
    </div>
</ion-view>
