<ion-view view-title="<img class='view-title-image' src='img/72HeaderImage.svg'>">
    <ion-content>
        <!-- team info and logo -->
        <div class="card">
            <div class="item item-divider">
              <h2 ng-bind="team.teamName"></h2>
            </div>
            <div class="item item-body">
                <img class="full-image" ng-src="{{team.logo}}" alt="">
                <p ng-bind="team.bio"></p>
            </div>
        </div>

        <!-- list out films -->
        <div class="card list" ng-repeat="vid in team.films" >
            <div class="item item-avatar item-icon-left item-divider">
                <i class="icon ion-videocamera"></i>
                <h2 ng-bind="vid.title"></h2>
                <p>{{vid.year}} film fest entry</p>
            </div>
            <div class="item item-text-wrap">
                <iframe width="320" height="180" src="{{vid.url}}" frameborder="0" allowfullscreen></iframe>

            </div>
        </div>
    </ion-content>
</ion-view>
