//definitions
$countdownBgClr: $primary-clr;
$countdownBorderClr: darken($primary-clr, 5%);
$countdownLabelClr: #fff;
$countdownNumberLabelClr: $primary-text-clr;
$countdownFont: $headline-font;
//$countdownFont: 'archiveregular', sans-serif;
$countdownBaseFontSize: 18px;

//@font-face {

//    font-family: 'archiveregular';
//    src: url($fontPath + 'archive-webfont.eot');
//    src: url($fontPath + 'archive-webfont.eot?#iefix') format('embedded-opentype'),
//         url($fontPath + 'archive-webfont.woff') format('woff'),
//         url($fontPath + 'archive-webfont.ttf') format('truetype'),
//         url($fontPath + 'archive-webfont.svg#archiveregular') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}

#countdown-container {
  background-color: $countdownBgClr;
}

#countdown-counter-container {
    display:block;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    color: $countdownLabelClr;
    text-shadow: none;
    font-family: $countdownFont;
    font-size: $countdownBaseFontSize;
    //background-color: black;
}

#countdown-container {
    //background: $countdownBgClr;
    border: 1px solid $countdownBorderClr;
    //border-color: $countdownBorderClr;
}

#countdown-label {
    display:block;
    text-align:center;
    color: $countdownLabelClr;
    text-shadow: none;
    font-family: $countdownFont;
    font-size: 32px;
    line-height: 32px;
    padding: 10px 5px;
}


.counter-container {
    display:inline-block;
    margin-right: 10px;
    min-width: 50px;
}
.countdown-counter-label {
    font-size: 14px;
}

.countdown-counter-numbers {
    display:inline-block;
    padding: 3px 5px;
    margin: 5px 0px;
    font-size: 20px;
    width:45px;
    color: $countdownNumberLabelClr;
    background: #FFFFFF;
}
